---
layout: default
title: My Conscious Community
seo:
  title: My Conscious Community
  description: 
  Connect with Like-Minded Souls: Your Guide to Upcoming Workshops, Retreats, and Gatherings
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---
<!------------------------ Image Banner  ------------------------>
<section class="grid-right">
    <div class="col-6 bg-image bg-sage tall-100 bg-overlay editable"></div>

    <div class="col-12-middle center sit-center padded editable">
        <img src="/images/mcc-logo-transparent.png" class="logo-img">
        <h1>My Conscious Community</h1>
        <p class="subtitle">Connect with Like-Minded Souls: Your Guide to Upcoming Workshops, Retreats, and Gatherings</p>
    </div>

</section>

<!------------------------ Featured blog loop ------------------------>
<section class="padded-t padded-b bg-gradient tall-90">
    <div class="center padded-l padded-r margin-b-1">
        <h2>Featured Events</h2>
        <p>We know you're always on the lookout for the next big event to deepen your spiritual journey. That's why we've handpicked the most divine experiences just for you. Our editors have scoured the land to find the most profound and transformative events to guide you on your path. From yoga retreats to mindfulness workshops, our Featured Events are designed to uplift your mind, body, and spirit. You'll connect with like-minded souls and embark on a journey of self-discovery that will leave you feeling recharged and refreshed.</p>
    </div>

    <div class="grid-center featured-events-gallery">

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:5 %}

        <div class="col-3 post-item padded-1">
            <div class="bg-image portrait bg-border" style="background-image:url( '{{ post.featured_image }}' );"></div>
            
            <div class="padded-t-1 featured-gallery-description center"> 
                <!-- {% for item in post.categories %}
                <span class="tag"> {{item}} </span>
                {% endfor %} -->

                <h3 class="margin-t-1"> {{ post.title }} </h3>
                <!-- <p> {{ post.description }} </p> -->
                <a href="{{ post.url }}" class="subtle-button">Learn More</a>
            </div>
        </div>

        {% endfor %}
    </div>
</section>

<!-- Upcoming Events -->
<section class="padded grid">
    <div class="col-12 padded-05 center margin-b-1">
        <h2 class="text-medium">Upcoming Events</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% for post in site.posts limit:12 %}
            {% include post-loop-item-square.html %}
        {% endfor %}
    </div>
    <div class="col-12 center">
        <a href="#" class="subtle-button">Load More</a>
    </div>

</section>

<!-- CTA -->
<section class="grid">
    <div class="col-7-middle">
        <h3>Contribute to the<br>collective consciousness</h3>
        <h2>List your event for free</h2>
        <a href="#" class="button">Create Event</a>
    </div>
    <div class="col-5 bg-image bg-border shape-window tall-50"></div>
</section>