---
layout: post-default
---


<section class="padded-lg blog-content grid">

    <div class="col-5_xs-12 bg-image bg-woman tall-30 xs-tall-20 bg-border xs-margin-t-35 xs-margin-b-5"></div>
    <div class="col-7_xs-12-middle padded xs-padded-0">
        <h1>{{ page.title }}</h1>
        {% for item in page.categories %}
            <span class="tag"> {{ item }}</span>
        {% endfor %}
        <p class="post-info">{{ page.date | date_to_long_string }}</p>
        <a class="button">Reserve Your Spot</a>
     </div>
        

        <div class="margin-t-2">

            {{content}}

        </div>
        
        {% include social-share.html %}


</section>

{% include related-posts.html %}
